## Exercises: Level 1
1. Find the length of the set it companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it companies
4. Remove one of the companies from the set it companies
5. What is the difference between remove and discard
## Exercises: Level 2
1. Join A and B
2. Find A intersection B
3. Is A subset of B
4. Are A and B disjoint sets
5. Join A with B and B with A
6. What is the symmetric difference between A and B

In [26]:
#SETS
it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age={22,19,24,25,26,24,25,24}

In [4]:
#Finding length of a set/total number of items in a set
length_it_companies=len(it_companies)
print(length_it_companies)

7

In [5]:
#adding an item to a set 
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Amazon', 'Apple', 'Google', 'Oracle', 'Twitter', 'IBM', 'Facebook'}

In [6]:
#Inserting multiple values to a set #wrong output: need more research on getting the correct output
multiple_companies={'SAP','TCS','Deloitte'}
it_companies.update(multiple_companies)
print(it_companies)

{'Microsoft', 'Google', 'Twitter', 'TCS', 'Amazon', 'Apple', 'Deloitte', 'SAP', 'Oracle', 'IBM', 'Facebook'}

In [7]:
#removing a value from a set
it_companies.remove('Facebook')
print(it_companies)

{'Microsoft', 'Google', 'Twitter', 'TCS', 'Amazon', 'Apple', 'Deloitte', 'SAP', 'Oracle', 'IBM'}

In [ ]:
#Difference between discard and remove
#discard removes the item and does not return an error if the item is not found.
#remove will take away the item but if the item does not exist, it will return an error
it_companies.discard('Deloitte')

## Exercise 2

In [9]:
#Joining sets
AB=A.union(B)
print(AB)

{19, 20, 22, 24, 25, 26, 27, 28}

In [19]:
#Set Intersections
common_items=A.intersection(B)
print(common_items)

{19, 20, 22, 24, 25, 26}

In [16]:
#Is A a subset of B
set_diff=A<=B
set_diff

True

In [17]:
#Are A and B disjoint sets
A.isdisjoint(B)

False

In [18]:
#Join A with B and B with A
ABBA=(A.union(B)).union(B.union(A))
ABBA

{19, 20, 22, 24, 25, 26, 27, 28}

In [23]:
#What is the symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

In [29]:
#Delete all sets
del(age)
age

NameError: name 'age' is not defined